* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: blanchedalmond;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  

}
#paneel {
  background-color: lightblue;
  width: 200px;
  height: 200px;
  padding: 20px;
  position: fixed;
  left: calc(100% - 200px);
  transition: top 0.5s ease-out;
}
#paneel_knop {
  width: 64px;
  height: 64px;
  background-color: lightgreen;
  position: absolute;
  bottom: -64px;
  right: 0;
  background-image: url(../img/menu.png);
}
.paneel_gesloten {
  top: -200px;
}
.paneel_open {
  top: 0;
}
#paneel .knop_open {
  background-image: url(../img/close.png);
}
