* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f8f7f3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#paneel {
  width: 200px;
  height: 200px;
  padding: 20px;
  position: fixed;
  transition: right 0.5s linear;

}
#paneel_knop {
  width: 64px;
  height: 64px;
  position: absolute;
  left: -64px;
  top: 0;
}
.paneel_gesloten {
  right: -200px;
}
.paneel_open {
  right: 0;
}
 .paneel_open #paneel_knop{
  background-image: url(../img/close.png);
}
 .paneel_gesloten #paneel_knop{
  background-image: url(../img/menu.png);
}
